<%- layout('layout/dashboard') %>
<div class="p-5">
  <div class="row">
    <div class="col-12">
      <%- include('../../partials/flash')%>
    </div>
  </div>
  <div class="row mb-4">
    <div class="col-md-12 col-lg-6">
      <h3>Welcome, <%= formatName(currentUser.first_name) %>!</h1>
    </div>
    <div class="col-md-12 col-lg-6 text-start text-lg-end">
      <% if(currentUser.userRoleRefId === "ur1" || currentUser.userRoleRefId === "ur2" ) { %> 
      <a href="/dashboard/projects/new" class="btn btn-theme-dark btn-with-logo my-2 my-md-0">
        <svg
          xmlns="http://www.w3.org/2000/svg"
          width="16"
          height="16"
          fill="currentColor"
          class="bi bi-plus-lg"
          viewBox="0 0 16 16"
        >
          <path
            fill-rule="evenodd"
            d="M8 2a.5.5 0 0 1 .5.5v5h5a.5.5 0 0 1 0 1h-5v5a.5.5 0 0 1-1 0v-5h-5a.5.5 0 0 1 0-1h5v-5A.5.5 0 0 1 8 2Z"
          /></svg
        >New Project</a
      >
      <% } %> 
      <a href="/dashboard/ticket/addTicket" class="btn btn-theme-dark btn-with-logo"
        ><svg
          xmlns="http://www.w3.org/2000/svg"
          width="16"
          height="16"
          fill="currentColor"
          class="bi bi-plus-lg"
          viewBox="0 0 16 16"
        >
          <path
            fill-rule="evenodd"
            d="M8 2a.5.5 0 0 1 .5.5v5h5a.5.5 0 0 1 0 1h-5v5a.5.5 0 0 1-1 0v-5h-5a.5.5 0 0 1 0-1h5v-5A.5.5 0 0 1 8 2Z"
          /></svg
        >New Ticket</a
      >
    </div>
  </div>
  <div class="row g-4 mb-4">
    <div class="col-sm-12 col-md-6 col-xl-3">
      <div class="card p-1" style="width: 100%">
        <div class="card-body">
            <div class="row mb-2">
              <div class="col-8">
                <div class="row">
                  <div class="col-12">
                    <h5 class="card-title">Active Projects</h5>
                  </div>
                  <div class="col-12">
                  <p class="card-text fw-bold fs-3 ap">
                 <%= projects.length%>
                  </p>
                  </div>
                </div>
              </div>
              <div class="col-4 d-flex align-items-center justify-content-center ">
                <div id="svg-1">
                     <svg
                    xmlns="http://www.w3.org/2000/svg"
                    width="25"
                    height="25"
                    fill="currentColor"
                    class="bi bi-folder"
                    viewBox="0 0 16 16"
                  >
                    <path
                      d="M.54 3.87.5 3a2 2 0 0 1 2-2h3.672a2 2 0 0 1 1.414.586l.828.828A2 2 0 0 0 9.828 3h3.982a2 2 0 0 1 1.992 2.181l-.637 7A2 2 0 0 1 13.174 14H2.826a2 2 0 0 1-1.991-1.819l-.637-7a1.99 1.99 0 0 1 .342-1.31zM2.19 4a1 1 0 0 0-.996 1.09l.637 7a1 1 0 0 0 .995.91h10.348a1 1 0 0 0 .995-.91l.637-7A1 1 0 0 0 13.81 4H2.19zm4.69-1.707A1 1 0 0 0 6.172 2H2.5a1 1 0 0 0-1 .981l.006.139C1.72 3.042 1.95 3 2.19 3h5.396l-.707-.707z"
                    />
                  </svg>
                </div>
              </div>
            </div>
            <!-- <a href="#" class="btn btn-theme-dark">See Projects</a> -->
        </div>
      </div>
    </div>
    <div class="col-sm-12 col-md-6 col-xl-3">
      <div class="card p-1" style="width: 100%">
        <div class="card-body">
            <div class="row mb-2">
              <div class="col-8">
                <div class="row">
                  <div class="col-12">
                    <h5 class="card-title">Total Tickets</h5>
                  </div>
                  <div class="col-12">
                  <p class="card-text fw-bold fs-3 tt">
                   <%= tickets.length%>
                  </p>
                  </div>
                </div>
              </div>
              <div class="col-4 d-flex align-items-center justify-content-center ">
                <div id="svg-2">
                  <svg
                  xmlns="http://www.w3.org/2000/svg"
                  width="25"
                  height="25"
                  fill="currentColor"
                  class="bi bi-file-earmark"
                  viewBox="0 0 16 16"
                >
                  <path
                    d="M14 4.5V14a2 2 0 0 1-2 2H4a2 2 0 0 1-2-2V2a2 2 0 0 1 2-2h5.5L14 4.5zm-3 0A1.5 1.5 0 0 1 9.5 3V1H4a1 1 0 0 0-1 1v12a1 1 0 0 0 1 1h8a1 1 0 0 0 1-1V4.5h-2z"
                  />
                </svg>
                </div>
              </div>
            </div>
            <!-- <a href="#" class="btn btn-theme-dark">See Projects</a> -->
        </div>
      </div>
    </div>
    <div class="col-sm-12 col-md-6 col-xl-3">
      <div class="card p-1" style="width: 100%">
        <div class="card-body">
            <div class="row mb-2">
              <div class="col-8">
                <div class="row">
                  <div class="col-12">
                    <h5 class="card-title">Resolved Tickets</h5>
                  </div>
                  <div class="col-12">
                  <p class="card-text fw-bold fs-3 rt">
                 <%= tickets.filter(t=>t.ticketStatus.ref_id === "ts4").length%>
                  </p>
                  </div>
                </div>
              </div>
              <div class="col-4 d-flex align-items-center justify-content-center ">
                <div id="svg-3">
                  <svg xmlns="http://www.w3.org/2000/svg" width="25" height="25" fill="currentColor" class="bi bi-check-lg" viewBox="0 0 16 16">
                    <path d="M12.736 3.97a.733.733 0 0 1 1.047 0c.286.289.29.756.01 1.05L7.88 12.01a.733.733 0 0 1-1.065.02L3.217 8.384a.757.757 0 0 1 0-1.06.733.733 0 0 1 1.047 0l3.052 3.093 5.4-6.425a.247.247 0 0 1 .02-.022Z"/>
                  </svg>
                </div>
              </div>
            </div>
            <!-- <a href="#" class="btn btn-theme-dark">See Projects</a> -->
        </div>
      </div>
    </div>
    <div class="col-sm-12 col-md-6 col-xl-3">
      <div class="card p-1" style="width: 100%">
        <div class="card-body">
            <div class="row mb-2">
              <div class="col-8">
                <div class="row">
                  <div class="col-12">
                    <h5 class="card-title">Unassigned Tickets</h5>
                  </div>
                  <div class="col-12">
                  <p class="card-text fw-bold fs-3 ut">
                <%= tickets.filter(t=>t.ticketStatus.ref_id === "ts1").length%>
                  </p>
                  </div>
                </div>
              </div>
              <div class="col-4 d-flex align-items-center justify-content-center ">
                <div id="svg-4">
                  <svg xmlns="http://www.w3.org/2000/svg" width="25" height="25" fill="currentColor" class="bi bi-exclamation-circle" viewBox="0 0 16 16">
                    <path d="M8 15A7 7 0 1 1 8 1a7 7 0 0 1 0 14zm0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16z"/>
                    <path d="M7.002 11a1 1 0 1 1 2 0 1 1 0 0 1-2 0zM7.1 4.995a.905.905 0 1 1 1.8 0l-.35 3.507a.552.552 0 0 1-1.1 0L7.1 4.995z"/>
                  </svg>
                </div>
              </div>
            </div>
            <!-- <a href="#" class="btn btn-theme-dark">See Projects</a> -->
        </div>
      </div>
    </div>
  </div>
  <div class="row g-4 mb-4">
    <div class="col-sm-12 col-md-6 col-xl-3">
      <div class="card p-1" style="width: 100%">
        <div class="card-body">
          <h5 class="card-title">Tickets per project</h5>
            <canvas id="chart1"></canvas>
        </div>
      </div>
    </div>
    <div class="col-sm-12 col-md-6 col-xl-3">
      <div class="card p-1" style="width: 100%">
        <div class="card-body">
          <h5 class="card-title">Tickets by status</h5>
            <canvas id="chart2"></canvas>
        </div>
      </div>
    </div>
    <div class="col-sm-12 col-md-6 col-xl-3">
      <div class="card p-1" style="width: 100%">
        <div class="card-body">
          <h5 class="card-title">Tickets by type</h5>
            <canvas id="chart3"></canvas>
        </div>
      </div>
    </div>
    <div class="col-sm-12 col-md-6 col-xl-3">
      <div class="card p-1" style="width: 100%">
        <div class="card-body">
          <h5 class="card-title">Tickets by priority</h5>
            <canvas id="chart4"></canvas>
        </div>
      </div>
    </div>
  </div>
  <div class="row g-4 mb-4">
    <div class="col-12 col-lg-9">
      <div class="card p-1" style="width:100%">
        <div class="card-body table-responsive">
      <table class='table table-hover align-middle'>
        <thead class='align-middle'>
            <tr>
                <th>Name</th>
                <th>Start Date</th>
                <th>End Date</th>
                <th>Description</th>
                <th>Priority</th>
              
                <th class='col-1 text-center'>Ticket Count</th>
                
            </tr>
        </thead>
       <tbody >
                <% projects.forEach(proj => { %>
                  <tr>
                    <td><a href="/dashboard/projects/<%= proj.id %>/view" class="text-decoration-none text-dark"><%= proj.project_name %></a></td>
                    <td><%= formatDate(proj.project_start) %> </td>
                    <td><%= formatDate(proj.project_end) %> </td>
                    <td><%= proj.project_description %> </td>
                    <td><%= proj.projectPriority.name %> </td>
                 
                    <td class='text-center'><%= proj.tickets.length %></td>
                 </tr>
                <% }) %> 
            </tbody>
    </table>
    </div>

  </div>
    </div>
    <div class="col-12 col-lg-3">
      <div class="card p-1" style="width:100%">
        <div class="card-body">
          <h5 class="card-title mb-3">Tracer Details</h5>
          <div class="d-flex justify-content-between">
            <p> <svg
              xmlns="http://www.w3.org/2000/svg"
              width="20"
              height="20"
              fill="currentColor"
              class="bi bi-people"
              viewBox="0 0 16 16"
            >
              <path
                d="M15 14s1 0 1-1-1-4-5-4-5 3-5 4 1 1 1 1h8zm-7.978-1A.261.261 0 0 1 7 12.996c.001-.264.167-1.03.76-1.72C8.312 10.629 9.282 10 11 10c1.717 0 2.687.63 3.24 1.276.593.69.758 1.457.76 1.72l-.008.002a.274.274 0 0 1-.014.002H7.022zM11 7a2 2 0 1 0 0-4 2 2 0 0 0 0 4zm3-2a3 3 0 1 1-6 0 3 3 0 0 1 6 0zM6.936 9.28a5.88 5.88 0 0 0-1.23-.247A7.35 7.35 0 0 0 5 9c-4 0-5 3-5 4 0 .667.333 1 1 1h4.216A2.238 2.238 0 0 1 5 13c0-1.01.377-2.042 1.09-2.904.243-.294.526-.569.846-.816zM4.92 10A5.493 5.493 0 0 0 4 13H1c0-.26.164-1.03.76-1.724.545-.636 1.492-1.256 3.16-1.275zM1.5 5.5a3 3 0 1 1 6 0 3 3 0 0 1-6 0zm3-2a2 2 0 1 0 0 4 2 2 0 0 0 0-4z"
              />
            </svg> Users</p>
            <p><%=users.length%></p>
          </div>
          <div class="d-flex justify-content-between">
            <p> <svg
              xmlns="http://www.w3.org/2000/svg"
              width="20"
              height="20"
              fill="currentColor"
              class="bi bi-folder"
              viewBox="0 0 16 16"
            >
              <path
                d="M.54 3.87.5 3a2 2 0 0 1 2-2h3.672a2 2 0 0 1 1.414.586l.828.828A2 2 0 0 0 9.828 3h3.982a2 2 0 0 1 1.992 2.181l-.637 7A2 2 0 0 1 13.174 14H2.826a2 2 0 0 1-1.991-1.819l-.637-7a1.99 1.99 0 0 1 .342-1.31zM2.19 4a1 1 0 0 0-.996 1.09l.637 7a1 1 0 0 0 .995.91h10.348a1 1 0 0 0 .995-.91l.637-7A1 1 0 0 0 13.81 4H2.19zm4.69-1.707A1 1 0 0 0 6.172 2H2.5a1 1 0 0 0-1 .981l.006.139C1.72 3.042 1.95 3 2.19 3h5.396l-.707-.707z"
              />
            </svg> Projects</p>
            <p><%=projects.length%></p>
          </div>
          <div class="d-flex justify-content-between">
            <p> <svg
              xmlns="http://www.w3.org/2000/svg"
              width="20"
              height="20"
              fill="currentColor"
              class="bi bi-file-earmark"
              viewBox="0 0 16 16"
            >
              <path
                d="M14 4.5V14a2 2 0 0 1-2 2H4a2 2 0 0 1-2-2V2a2 2 0 0 1 2-2h5.5L14 4.5zm-3 0A1.5 1.5 0 0 1 9.5 3V1H4a1 1 0 0 0-1 1v12a1 1 0 0 0 1 1h8a1 1 0 0 0 1-1V4.5h-2z"
              />
            </svg> Tickets</p>
            <p><%=tickets.length%></p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<script> const projects = <%-JSON.stringify(projects)%>;  </script>
<script> const tickets = <%-JSON.stringify(tickets)%>;  </script>

<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
<script src="/js/charts.js"></script>
